/* root */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-colour: #ffffff;
  --tittle-text-colour: #212121;
  --accent-text-colour: #2196f3;
  --main-text-colour: #757575;
  --background-colour: #2f303a;
  --background-button-colour: #f5f4fa;
  --icon-text-colour: #afb1b8;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* * {
  outline: 1px solid tomato; */

body {
  background-color: var(--primary-text-colour);
  color: var(--main-text-colour);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}

/* .section, */

.container,
.section.header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* logo */
.logo {
  color: #000000;
}
.logo-text {
  color: var(--accent-text-colour);
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .logo,
.logo-text,
.logo-text-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-header .logo {
  margin-right: 93px;
  display: flex;
  padding: 25px 0px;
  align-items: center;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.page-header .site-nav-list {
  display: flex;
}
.page-header .site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header .site-nav-list li:not(:last-child) {
  margin-right: 50px;
}

.page-header .site-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.page-header .contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header .site-contact li:not(:first-child) {
  margin-left: 30px;
}
.section.header nav {
  display: flex;
}

.section.header {
  height: 80px;
  display: flex;
}
.site-nav-list .site-nav-link,
.site-contact .contact-link {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.svg-envelope,
.svg-smartphone {
  margin-right: 10px;
  fill: #757575;
  align-self: center;
}

.site-nav-list .site-nav-link:hover,
.site-nav-list .site-nav-link:focus,
.site-nav-list .site-nav-link.current {
  color: var(--accent-text-colour);
}
.site-contact .contact-link {
  color: var(--main-text-colour);
  display: inline-flex;
}
.site-contact .contact-link:hover,
.site-contact .contact-link:focus {
  color: var(--accent-text-colour);
}

.contact-link:hover .svg-envelope,
.contact-link:focus .svg-envelope,
.contact-link:hover .svg-smartphone,
.contact-link:focus .svg-smartphone {
  fill: var(--accent-text-colour);
}

/* hero */
.hero .hero-tittle {
  color: var(--primary-text-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  text-align: center;
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img.p1/backimg.png);
  background-color: rgba(196, 196, 196, 1);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-button {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  height: 50px;
  min-width: 214px;
  border: 1px solid transparent;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #188ce8;
}

/*  button-navigation */
.project .button-link {
  color: var(--tittle-text-colour);
  background-color: var(--background-button-colour);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;

  display: inline-block;
  width: 112px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.project .button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.button-list li:not(:first-child) {
  margin-left: 8px;
}
.project .button-link:hover,
.project .button-link:focus {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* projects */
.project .project-tittle {
  color: var(--tittle-text-colour);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px;
}
.project p {
  color: var(--main-text-colour);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.project .project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project .project-list li {
  flex-basis: calc((100% - 60px) / 3);
}

.project-list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* main content */
.section-tittle {
  color: var(--tittle-text-colour);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}
/* features */
.feature-list {
  display: flex;
  justify-content: space-between;
}
.feature-list li {
  width: 270px;
  height: 98px;
}
.icon-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.icon-list li {
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.svg-icon {
  width: 70px;
  height: 70px;
}

.feature-list .tittle {
  color: var(--tittle-text-colour);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 10px;
}
.feature-list p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;
}

.section.one,
.section.two,
.section.three,
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.one {
  padding-bottom: 0px;
}
.section.three {
  background: #f5f4fa;
}
.section.four {
  padding-bottom: 94px;
}

.employment-list {
  display: flex;
}
.employment-list li:not(:first-child),
.team-list .group:not(:first-child) {
  margin-left: 30px;
}

/* team */
.team-list .tittle {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 10px;
}
.team-card {
  background-color: var(--primary-text-colour);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 0px;
}
.team-list {
  display: flex;
}
.team-list .group {
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-contact {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.team-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.team-contact li {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  box-shadow: none;
  margin-left: 10px;
}

.team-contact li:first-child {
  margin-left: 0px;
}

.team-contact .svg-icon,
.join-list .svg-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-text-colour);
}
.team-contact .team-link:hover .svg-icon,
.team-contact .team-link:focus .svg-icon,
.join-list .team-link:hover .svg-icon,
.join-list .team-link:focus .svg-icon {
  fill: #ffffff;
}
.team-contact .team-link:hover,
.team-contact .team-link:focus,
.join-list .team-link:hover,
.join-list .team-link:focus {
  background-color: var(--accent-text-colour);
}
.container.client {
  height: 184px;
}
.container.client .client-list {
  display: flex;
  justify-content: space-between;
}
.client-list .client-li {
  width: 170px;
  height: 92px;
}

.client-li .client-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-text-colour);
  border-radius: 4px;
  border: 1px solid var(--icon-text-colour);
}
.client-li:hover .client-link,
.client-link:focus {
  fill: var(--accent-text-colour);
  border: 1px solid var(--accent-text-colour);
}

/* footer */
.section-footer {
  background-color: var(--background-colour);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}
.logo-text-footer {
  color: var(--primary-text-colour);
  margin-bottom: 20px;
  display: inline-block;
}
.adress .adress-tittle {
  color: var(--primary-text-colour);
}
.adress li:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}
.adress a {
  display: block;
}
.communication,
.adress .adress-tittle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.communication {
  color: var(--main-text-colour);
}
.adress .adress-tittle:hover,
.adress .adress-tittle:focus {
  color: var(--accent-text-colour);
}
.communication:hover,
.communication:focus {
  color: var(--accent-text-colour);
}
.join {
  display: inline-block;
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
  margin-bottom: 40px;
  margin-left: 70px;
}
.join-tittle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-colour);

  margin-bottom: 20px;
}
.join-list {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: center;
}
.join-list li {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  box-shadow: none;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.join-list li:first-child {
  margin-left: 0px;
}
.footer-block {
  width: 207px;
  height: 100%;
}
