:root {
  --primary-text-colour: #ffffff;
  --tittle-text-colour: #212121;
  --accent-text-colour: #2196f3;
  --main-text-colour: #757575;
  --background-colour: #2f303a;
  --background-button-colour: #f5f4fa;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* main */

body {
  background-color: var(--primary-text-colour);
  color: var(--main-text-colour);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
/* logo */
.logo {
  color: #000000;
}
.logo-text {
  color: var(--accent-text-colour);
}
.page-header .logo,
.logo-text,
.logo-text-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
/* site-nav */
.site-nav-list .site-nav-link,
.site-contact .contact-link {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav-list .site-nav-link:hover,
.site-nav-list .site-nav-link:focus,
.site-nav-list .site-nav-link.current {
  color: var(--accent-text-colour);
}
.site-contact .contact-link {
  color: var(--main-text-colour);
}
.site-contact .contact-link:hover,
.site-contact .contact-link:focus {
  color: var(--accent-text-colour);
}
/* hero */
.hero .hero-tittle {
  color: var(--primary-text-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  background-color: var(--background-colour);
}
.hero .hero-button {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #188ce8;
}
/*  button-navigation */
.project .button-link {
  color: var(--tittle-text-colour);
  background-color: var(--background-button-colour);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.project .button-link:hover,
.project .button-link:focus {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
}
/* projects */
.project .project-tittle {
  color: var(--tittle-text-colour);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project p {
  color: var(--main-text-colour);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* main content */
.section-tittle {
  color: var(--tittle-text-colour);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* features */
.feature-list .tittle {
  color: var(--tittle-text-colour);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* team */
.team-list .tittle {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-list p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* footer */
.section-footer {
  background-color: var(--background-colour);
}
.logo-text-footer {
  color: var(--primary-text-colour);
}
.adress .adress-tittle {
  color: var(--primary-text-colour);
}
.communication,
.adress .adress-tittle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.communication {
  color: var(--main-text-colour);
}
.adress .adress-tittle:hover,
.adress .adress-tittle:focus {
  color: var(--accent-text-colour);
}
.communication:hover,
.communication:focus {
  color: var(--accent-text-colour);
}
