.hero {
  text-align: center;
  padding: 118px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/img.p1/hero/backimg/headerimg-480.jpg);
  background-color: rgba(196, 196, 196, 1);
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and(min-width:768px) {
    padding: 200px 0px;
    height: 600px;
  }
  @media (min-resolution: 2dppx) {
    background-image: url(./images/img.p1/hero/backimg/headerimg-480@2x.jpg);
  }
  @media (min-width: 768px) {
    background-image: url(./images/img.p1/hero/backimg/headerimg-768.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(./images/img.p1/hero/backimg/headerimg-768@2x.jpg);
    }
  }
  @media (min-width: 1200px) {
    background-image: url(./images/img.p1/hero/backimg/headerimg-1600.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(./images/img.p1/hero/backimg/headerimg-1600@2x.jpg);
    }
  }
}
.hero__tittle {
  color: var(--primary-text-colour);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  //   width: 696px;
  //   height: 120px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.4;
  }
}
