/* root */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-colour: #ffffff;
  --tittle-text-colour: #212121;
  --accent-text-colour: #2196f3;
  --main-text-colour: #757575;
  --background-colour: #2f303a;
  --background-button-colour: #f5f4fa;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* * {
  outline: 1px solid tomato; */

body {
  background-color: var(--primary-text-colour);
  color: var(--main-text-colour);
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}

/* .section, */

.container,
.section.header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */

/* logo */
.logo {
  color: #000000;
}
.logo-text {
  color: var(--accent-text-colour);
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .logo,
.logo-text,
.logo-text-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* .................. */
.page-header .logo {
  margin-right: 93px;
  display: flex;
  padding: 25px 0px;
  align-items: center;
}
/* ................ */

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.page-header .site-nav-list {
  display: flex;
}
.page-header .site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header .site-nav-list li:not(:last-child) {
  margin-right: 50px;
}

.page-header .site-contact {
  display: flex;
  margin-left: auto;
}
.page-header .contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header .site-contact li:not(:first-child) {
  margin-left: 50px;
}
.section.header nav {
  display: flex;
}

.section.header {
  height: 80px;
  display: flex;
}
.site-nav-list .site-nav-link,
.site-contact .contact-link {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav-list .site-nav-link:hover,
.site-nav-list .site-nav-link:focus,
.site-nav-list .site-nav-link.current {
  color: var(--accent-text-colour);
}
.site-contact .contact-link {
  color: var(--main-text-colour);
}
.site-contact .contact-link:hover,
.site-contact .contact-link:focus {
  color: var(--accent-text-colour);
}

/* hero */
.hero .hero-tittle {
  color: var(--primary-text-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  background-color: var(--background-colour);
  text-align: center;
  padding: 200px 0px;
}

.hero .hero-button {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px 32px; */
  border-radius: 4px;
  height: 50px;
  min-width: 214px;
  border: 1px solid transparent;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #188ce8;
}
/*  button-navigation */
.project .button-link {
  color: var(--tittle-text-colour);
  background-color: var(--background-button-colour);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;

  display: inline-block;
  width: 112px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.project .button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.button-list li:not(:first-child) {
  margin-left: 8px;
}
.project .button-link:hover,
.project .button-link:focus {
  color: var(--primary-text-colour);
  background-color: var(--accent-text-colour);
}
/* projects */
.project .project-tittle {
  color: var(--tittle-text-colour);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  /* white-space: nowrap; */
}

.card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px;
}
.project p {
  color: var(--main-text-colour);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.project .project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project .project-list li {
  flex-basis: calc((100% - 60px) / 3);
}

/* main content */
.section-tittle {
  color: var(--tittle-text-colour);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}
/* features */
.feature-list {
  display: flex;
  justify-content: space-between;
}
.feature-list li {
  width: 270px;
  height: 98px;
}
.feature-list .tittle {
  color: var(--tittle-text-colour);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 10px;
}
.feature-list p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;
}

.section.one,
.section.two,
.section.three,
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.three {
  background: #f5f4fa;
}

.employment-list {
  display: flex;
}
.employment-list li:not(:first-child),
.team-list li:not(:first-child) {
  margin-left: 30px;
}

/* team */
.team-list .tittle {
  color: var(--tittle-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-list li {
  display: block;
  height: 368px;
  border: 1px solid transparent;
}

/* footer */
.section-footer {
  background-color: var(--background-colour);
  height: 252px;
  padding-top: 60px;
}
.container.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo-text-footer {
  color: var(--primary-text-colour);
  margin-bottom: 20px;
  display: inline-block;
}
.adress .adress-tittle {
  color: var(--primary-text-colour);
}
.adress li:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}
.adress a {
  display: block;
}
.communication,
.adress .adress-tittle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.communication {
  color: var(--main-text-colour);
}
.adress .adress-tittle:hover,
.adress .adress-tittle:focus {
  color: var(--accent-text-colour);
}
.communication:hover,
.communication:focus {
  color: var(--accent-text-colour);
}
