:root {
  --primary-text-colour: #ffffff;
  --tittle-text-colour: #212121;
  --accent-text-colour: #2196f3;
  --main-text-colour: #757575;
  --background-colour: #2f303a;
  --background-button-colour: #f5f4fa;
  --icon-text-colour: #afb1b8;
}
